/* CSS declarations go here */
body{
  background: #FA3C3C;
}

#bell{
  position: relative;
  left: 50%;
  margin-left: -58px;

}

h1, h2, h3, h4, h5{
  color: #fff;
}

#rdio{
  float: left;
  margin-top: -80px;
  margin-bottom: -80px;
}

#rdio-count{
  text-align: left;
  padding-left: 200px;
  font-size: 7em;
  font-weight: bold;
  color: #fff;
}

#spotify{
  float: right;
  margin-top: -80px;
  margin-bottom: -80px;
}

#spotify-count{
  text-align: right;
  padding-right: 200px;
  font-size: 7em;
  font-weight: bold;
  color: #fff;
}