/* CSS declarations go here */
body{
  background: #FA3C3C;
}

#bell{
  position: relative;
  left: 50%;
  margin-left: -58px;

}

h1, h2, h3, h4, h5{
  color: #fff;
}

#rdio{
float: left;
margin-left: 40px;
}

#rdio-count{
  float: left;
}

#spotify{
float: right;
margin-right: 40px;
}

#spotify-count{
  float: right;
}